# Environment Variables

# Backend
PORT=5000
MONGODB_URI=mongodb://localhost:27017/FixNearby
JWT_SECRET=your_jwt_secret_here


BREVO_API_KEY = brevo_api_key_here
BREVO_SENDER_NAME=sender_side_name_here
BREVO_SENDER_EMAIL=sender_side_email_here

# Frontend
VITE_API_URL=http://localhost:5000/api
# Environment Variables

# Backend
PORT=5000
MONGODB_URI=mongodb://localhost:27017/FixNearby
JWT_SECRET=your_jwt_secret_here

# Frontend
VITE_API_URL=http://localhost:5000/api
CLIENT_URL=http://localhost:5173
